#IDEA
*.iml
.idea/

#Gradle
.gradle

#macos
.DS_Store

#npm
_v1/tools/package-lock.json
_v1/tools/node_modules
_v1/server/package-lock.json
_v1/server/node_modules
_v1/test/package-lock.json
_v1/test/node_modules
node_modules

.gitignore

#python
.py
/.vscode/
